#
# /!\ WARNING /!\
# This docker-compose file should only be used for development environment
# using it for production is probably a bad idea
#
version: "3"

services:
  db:
    image: mongo:4.2
    restart: always
    volumes:
      - db_data:/data/db
    ports:
      - 27017:27017

  api:
    build:
      context: .
      dockerfile: dev.Dockerfile
    depends_on:
      - db
    volumes:
      - ./:/app/
    ports:
      - 5000:5000
    environment:
      PORT: 5000
      MONGODB_URI: "mongodb://db:27017/mongo"
      JWT_PRIVATE_KEY: "secret"

volumes:
  db_data:
